{% extends 'layouts/main.html' %}
{% block title %}Spotify Recommendation System - About{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
        <div>
            <div>
                <h2>About</h2>
                <p>Pellentesque hendrerit neque pur ras ut rutrum enim onec auctor, nisl vel ultricies placerat, purporta metus, sed cursus enim ante nec est.</p>
                <p>Donec ante nibh hendrerit vitae sodales eget fficitur ac justo. Aenean porta vitae nisi eget venena aliquam odio euismod arcu tempus, id efficituposuere.</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

{% endblock %}
