{% extends 'layouts/main.html' %}
{% block title %}Spotify Recommendation System - About{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
        <div>
            <div>
                <h2>About</h2>
                <p>This website is part of a final project for a class at San Jose State University (CMPE 256 - Summer 2019)</p>
                <p>Our project is entirely Open Source and can be found in the following Github Repo <a href="https://github.com/miguelcovarrubias/cmpe-256-group-project">Click Here</a> </p>
                <p>Project Team 10: (Mario Yepez, Miguel Covarrubias, Kunj Parikh, Zaid Laffta, Srini)</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

{% endblock %}
