{% extends 'layouts/main.html' %}
{% block title %}Spotify Recommendation System - Demo{% endblock %}
{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="row d-flex justify-content-center">
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
    <div class="input-group">
      <input id="search-field" type="text" class="form-control" placeholder="Paste a Playlist URL here!">
      <div class="input-group-append">
        <button id="search-button" class="btn button-green" type="button">
          <i class="fa fa-cogs"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div id="playlist-results">
</div>

<div id="playlist-template" class="hidden row d-flex justify-content-center">
  <h3 class="playlist-rank"></h3>
  <iframe class="playlist-iframe" width="600" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<script type="text/javascript">
  // display the recommendation results
  var renderRecommendations = function(playlists){
    // append playists
    playlists.forEach(function(playlist, i){
      var template = $("#playlist-template").clone();
      template.attr("id", "playlist-"+i);
      template.removeClass("hidden");

      var playlistIframe = template.children(".playlist-rank");
      playlistIframe.text(playlist.playlistRanking);

      var playlistIframe = template.children(".playlist-iframe");
      playlistIframe.attr("src",playlist.playlistUrl);

      $('#playlist-results').append(template);
    });
  }

  // Ajax call for submitting playlist recommendation request
  $('#search-button').on('click', function (e) {

    // remove currently displayed playlists
    $("#playlist-results").empty();

    playlistUrl = $('#search-field').val();
    var request_payload = {
      'playlist_url': playlistUrl
    }

    $.ajax({
      url: "{{url_for('search_api')}}",
      data: JSON.stringify(request_payload),
      type: 'POST',
      crossDomain: true,
      dataType: 'json',
      success: function(response) {
        console.log(response);
        renderRecommendations(response.playlists);
      },
      error: function(error) {
        console.log(error);
      },
    });

  });

</script>

{% endblock %}
