{% extends 'layouts/main.html' %}
{% block title %}Spotify Recommendation System - Demo{% endblock %}
{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<h4 class="text-center">Enter a Spotfy Playlist Url to start getting recommendations!</h4>

<div class="d-flex justify-content-center">
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
    <div class="input-group">
      <input id="search-field" type="text" class="form-control" placeholder="Paste a Playlist URL here!">
      <div class="input-group-append">
        <button id="search-button" class="btn button-green" type="button">
          <i class="fa fa-cogs"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
    <div class="input-group">
      <div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept"><span class="glyphicon glyphicon-align-justify"></span>Method (Optional)</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#knn" class="white-text"> <span class="fa fa-users"></span>KNN</a></li>
            <li><a href="#cosine" class="white-text"> <span class="fa fa-angle-left"></span>Cosine</a></li>
          </ul>
      </div>
      <input type="hidden" name="search_param" value="all" id="search_param">
    </div>
  </div>
</div>

<p class="text-center">Example Url: https://open.spotify.com/playlist/2s583Uyybtm6CwKGwo5kn9</p>

<div id="playlist-results">
</div>

<br>
<br>
<br>

<div id="input-playlist-template" class="d-none">
  <div class="header-div d-flex justify-content-center">
    <h3>This is the input playlist!</h3>
  </div>
  <div class="iframe-div d-flex justify-content-center">
    <iframe class="playlist-iframe" width="600" height="260" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <div class="header-div d-flex justify-content-center">
    <h3>Here are the ranked recommendations!</h3>
  </div>
</div>

<div id="playlist-template" class="d-none">
  <div class="header-div d-flex justify-content-center">
    <h3 class="playlist-rank"></h3><br>
  </div>
  <div class="vote-div d-flex justify-content-center">
    <button class="upvote-button button-green button_small"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <button class="downvote-button button-red button_small"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
  </div>
  <div class="iframe-div d-flex justify-content-center">
    <iframe class="playlist-iframe" width="600" height="260" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
    		e.preventDefault();
    		var param = $(this).attr("href").replace("#","");
    		var concept = $(this).html();
    		$('.search-panel span#search_concept').html(concept);
    		$('.input-group #search_param').val(param);
  	});
    // default to knn
    $('.input-group #search_param').val('knn');
  });
  // submit upvote/downvote
  var submitUpvote = function(panel_id, method, originalPlaylist, recommendedPlaylist) {
    $('#' + panel_id).children('.vote-div').children('.button_small').removeClass('button-green button-red').addClass('button-gray').prop('disabled', true);

    var payload = {
      'originalPlaylist' : originalPlaylist,
      'recommendedPlaylist' : recommendedPlaylist,
      'method' : method,
      'score': 1
    }
    submitVote(payload);
  }
  var submitDownvote = function(panel_id, method, originalPlaylist, recommendedPlaylist) {
    $('#' + panel_id).children('.vote-div').children('.button_small').removeClass('button-green button-red').addClass('button-gray').prop('disabled', true);
    var payload = {
      'originalPlaylist' : originalPlaylist,
      'recommendedPlaylist' : recommendedPlaylist,
      'method' : method,
      'score': -1
    }
    submitVote(payload);
  }

  var submitVote = function (payload) {
    $.ajax({
      url: "{{url_for('submit_vote')}}",
      data: JSON.stringify(payload),
      type: 'POST',
      crossDomain: true,
      dataType: 'json',
      success: function(response) {
        console.log(response);
      },
      error: function(error) {
        console.log(error);
      },

    });
  }

  // display the recommendation results
  var renderRecommendations = function(response){
    // append input playlist
    var template = $("#input-playlist-template").clone();
    template.attr("id", "input-playlist");
    template.removeClass("d-none");

    var playlistIframe = template.children(".iframe-div").children(".playlist-iframe");
    playlistIframe.attr("src",response.currentPlaylist);

    $('#playlist-results').append(template);

    // append playist recommendations
    response.playlists.forEach(function(playlist, i){
      var template = $("#playlist-template").clone();
      template.attr("id", "playlist-"+i);
      template.removeClass("d-none");

      var playlistHeader = template.children(".header-div").children(".playlist-rank");
      playlistHeader.text(playlist.playlistRanking);

      var playlistIframe = template.children(".iframe-div").children(".playlist-iframe");
      playlistIframe.attr("src",playlist.playlistUrl);

      // upvote button
      template.children(".vote-div").children(".upvote-button").click(function(){ submitUpvote(template.attr("id"), response.method, response.currentPlaylist, playlist.playlistUrl); })

      // downvote button
      template.children(".vote-div").children(".downvote-button").click(function(){ submitDownvote(template.attr("id"), response.method,response.currentPlaylist, playlist.playlistUrl); })

      $('#playlist-results').append(template);
    });
  }

  // Ajax call for submitting playlist recommendation request
  $('#search-button').on('click', function (e) {

    // remove currently displayed playlists
    $("#playlist-results").empty();

    var playlistUrl = $('#search-field').val();
    var method = $('#search_param').val()
    console.log(method);
    var request_payload = {
      'playlist_url': playlistUrl,
      'method': method
    }

    $.ajax({
      url: "{{url_for('search_api')}}",
      data: JSON.stringify(request_payload),
      type: 'POST',
      crossDomain: true,
      dataType: 'json',
      success: function(response) {
        console.log(response);
        renderRecommendations(response);
      },
      error: function(error) {
        console.log(error);
      },
    });

  });

</script>

{% endblock %}
