{% extends 'layouts/main.html' %}
{% block title %}Spotify Recommendation System - Overview{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
        <div>
            <div>
                <h2>Discover New Playlists</h2>
                <p class="lead">Our Recommendation System will help you find new playlists based on your playlists.</p>
                <hr class="m-t-30 m-b-30">
                <p>Pellentesque hendrerit neque pur ras ut rutrum enim onec auctor, nisl vel ultricies placerat, purporta metus, sed cursus enim ante nec est.</p>
                <p>Donec ante nibh hendrerit vitae sodales eget fficitur ac justo. Aenean porta vitae nisi eget venena aliquam odio euismod arcu tempus, id efficituposuere.</p>
            </div>
        </div>
    </div>
    <div class="offset-xl-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="feature-app-img">
            <img src="../../static/img/landing.png" alt="Landing Image" class="rounded">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div>
            <div>
                <h2>How Does It Work?</h2>
                <div class="feature-app-img">
                    <img src="../../static/img/landing2.png" alt="Landing Image" class="img-fluid rounded">
                </div>
                <p class="lead">Provide us with a Spotify Playlist and our recommendation system will extract it's relevant features.</p>
                <hr class="m-t-30 m-b-30">
                <p>Pellentesque hendrerit neque pur ras ut rutrum enim onec auctor, nisl vel ultricies placerat, purporta metus, sed cursus enim ante nec est.</p>
                <p>Donec ante nibh hendrerit vitae sodales eget fficitur ac justo. Aenean porta vitae nisi eget venena aliquam odio euismod arcu tempus, id efficituposuere.</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="feature-app-img">
            <h2>Convinced?</h2>
            <a href="{{ url_for('demo') }}"><button id="explore-button" class="button-green">Try Now!</button></a><br>
        </div>
    </div>
</div>

<br>
<br>
<br>

{% endblock %}
